@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInY {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

#chatapp{
  animation: slideInY 1.5s forwards;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;

}
.toast {
    animation: slideIn 0.5s forwards;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.toast.hide {
    animation: slideOut 0.5s forwards;
}
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
  }
.hero{
    width: 30%;
    height: 40%;
    z-index: -1;
    /* filter: blur(10px); */
    /* backdrop-filter: blur(1px); */
}

.userlist{
    height: 64% ;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
    z-index: -1;
    will-change: transform, opacity;

    /* background: rgba(0, 51, 102, 0.5); */
    box-shadow: 0 0 30px rgba(0, 51, 102, 0.5);
    opacity: 0;
}
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  @keyframes moveBubble {
    0% {
      transform: translate(var(--start-x), var(--start-y));
      opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100% {
      transform: translate(var(--end-x), var(--end-y));
      opacity: 0;
    }
  }
  @media (min-width: 768px) {

    .userlist{
        height: 75% !important;
    }

   }